.calculator {
    border: 1px solid black;
    padding: 20px;
    width: 350px;
    background-color: cyan;
    float: none;
    margin: auto;
}

.screen input {
    border: 1px solid red;
    width: 95%;
    height: 75px;
    text-align: center;
}

.calculator button {
    border: 1px solid green;
    width: 20%;
    margin: 5px;
}